.navbar {
    height: 52px;
    border-bottom: 1px solid rgb(230,227,227);
    padding: 3px 20px !important;
}
.navbar .wrapper {
    justify-content: space-between;
}
.navbar .wrapper .search input {
    outline: none;
}
.navbar .wrapper .search input::placeholder {
    font-size: 14px;
}
.navbar .wrapper .items {
    gap: 20px;
    font-size: 14px;
    color: #777;

}

.navbar .wrapper .items .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.navbar .wrapper .items .item .icon {
    font-size: 23px;
}

.navbar .wrapper .items .item .counter {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: -8px;
    right: -8px;
}